/* .btn1{
    color:#000;
    background:#fff url(https://tse4-mm.cn.bing.net/th/id/OIP.spiVrOqzbQcdLh9VSRGNqgAAAA?w=171&h=180&c=7&o=5&dpr=2&pid=1.7) no-repeat left bottom 2.5px;
} */
.bottom{
    height:50px;
    width:100%;
    position: fixed;
    bottom:0;
}
