.searchTab #search-tab{
    display: inline;
}
.searchTab .am-search {
    border-bottom: 1px solid #ddd;
}

.searchTab .am-search{
    background-color: #FF852A;
}
.searchTab .am-search-input{
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #FF4E22;
    text-align: center;
    margin: 10px;
}
.searchTab .am-search-input .am-search-synthetic-ph-placeholder{
    color: #FFFFF9;
}
